.list-generic-structure{
    display: grid;
    grid-template-columns: repeat(6, 16%);
    grid-gap: 11px;
}
.movie-card{
    width: 100%;
    // height: 20vw;
    // min-height: 250px;
    background-color: transparent;
    position: relative;
    .fa-heart{
        text-shadow: 0 0 6px #0000004D;
        position: absolute;
        right: 12px;
        top: 12px;
        color: #FCFCFC;
        font-size: 18px;
        transition: .5s ease;
        opacity: 1;
    }

    .liked{
        text-shadow: 0 0 6px #0000004D;
        position: absolute;
        right: 12px;
        top: 12px;
        color: #FCFCFC;
        font-size: 18px;
    }
}

.empty-state{
  margin-top: 100px;
  display: grid;
  grid-auto-flow: row;
  text-align: center;
  color: #A4ADA4;
  img{
      justify-self: center;
  }
  .empty-title{
      font-size: 22px;
  }
  p{
      font-size: 18px;
  }
}

//Hover image
.container {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: black;
    width: 100%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    
  }
  
  .container:hover .image {
    opacity: 0.3;
    
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: transparent;
    color: white;
    font-size: 16px;
    max-width: 230px;
    position: absolute;
    top: 66%;
    left: 6%;
    p{
        font-size: 12px;
    }
  }

  //Finish hover image