.list-generic-structure{
    display: grid;
    grid-template-columns: repeat(6, 16%);
    grid-gap: 11px;
}
.movie-card{
    width: 100%;
    min-width: 171px;
    height: 20vw;
    min-height: 254px;
    background-color: transparent;
    position: relative;
    
    .fa-heart{
        cursor: pointer;
        text-shadow: 0 0 6px #0000004D;
        position: absolute;
        right: 12px;
        top: 12px;
        color: #FCFCFC;
        font-size: 18px;
    }
    

}