<app-movie-top-bar></app-movie-top-bar>
<div class="return-button" (click)='goToBackPage()'>
    <span><i class="fas fa-arrow-left"></i> Return</span>
</div>
<div class="movie-details-structure">
    <div class="info-structure">
        <span class="title">{{selectedMovie?.title}}</span>
        <div class="info">
            <div class="year">
                <i class="far fa-calendar"></i>
                {{selectedMovie?.year}}
            </div>
            <div class="runtime">
                <i class="far fa-clock"></i>
                {{selectedMovie?.runtime}}
            </div>
            <p>
            <span>{{selectedMovie.rated}}  </span>
        </p>
                
        </div>
        <div class="like-button">
            <div class="heart-box">
                <i class="fa-heart fas liked"></i>
            </div>
            <span class="text">Add to favorites</span>
        </div>
        <div class="description">
            <p>
                {{selectedMovie?.plot}}
            </p>
        </div>
        <div class="more-info">
            <div class="info-details">
                <label>Cast</label>
                <div *ngFor="let actor of actorList">
                    {{actor}}
                </div>    
            </div>
            <div class="info-details">
                <label>Genre</label>
                <div *ngFor="let genre of genreList">
                    {{genre}}
                </div>
            </div>
            <div class="info-details">
                <label>Director</label>
                <div>
                    {{selectedMovie?.director}}
                </div>
            </div>
        </div>
    </div>
    <div class="image-structure">
        <img [src]='selectedMovie.poster' width="100%">
    </div>
</div>