.return-button{
    color: #A0AFA0;
    font-size: 22px;
    cursor: pointer;
    .fa-arrow-left{
        padding-right: 8px;
    }
}

.movie-details-structure{
    display: grid;
    grid-template-columns: 60% 40%;
    .info-structure{
        display: grid;
        grid-auto-flow: row;
    }
}

.image-structure{
    max-width: 444px;
}