$return-button-color: #A0AFA0;
$all-content-text: #414641;
$second-content-text: #637463;
$red: #EB4B3C;

.return-button{
    color: $return-button-color;
    font-size: 22px;
    margin-bottom: 23px;
    cursor: pointer;
    .fa-arrow-left{
        padding-right: 8px;
    }
}

.movie-details-structure{
    display: grid;
    grid-template-columns: 50% 50%;
    @media (min-width: 320px) and (max-width: 600px) {
        grid-template-columns: auto;
        grid-gap: 12px;
      }
    .info-structure{
        display: grid;
        grid-auto-flow: row;
        @media (min-width: 320px) and (max-width: 600px) {
            grid-gap: 12px;
          }
        .image-mobile{
            display: none;
            @media (min-width: 320px) and (max-width: 600px){
                display: block;
                
            }
        }
    }
}

.image-structure{
    text-align: end;
    @media (min-width: 320px) and (max-width: 600px){
        display: none;
    }
    img{
        border-radius: 6px;
        max-width: 444px;
    }
}

.title{
    font-size: 72px;
    color: $all-content-text;
    font-weight: bold;
    @media (min-width: 320px) and (max-width: 600px){
        text-align: center;
        font-size: 46px;
    }
}

.info{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    font-size: 26px;
    color: $all-content-text;
    font-weight: 500;
    @media (min-width: 320px) and (max-width: 600px) {
        text-align: center;
      }
    i{
        color: $second-content-text;
    }
    span{
        font-weight: bold;
        color: white;
        text-align: center;
        background-color: $red;
        border: 2px solid $red;
        border-width: 6px 14px 6px 14px;
        border-radius: 5px;
        height: 40px;
    }
}

.like-button{
    display: grid;
    grid-template-columns: 10% 60%;
    @media (min-width: 320px) and (max-width: 600px) {
        grid-template-columns: 14% 76%;
      }
    .heart-box{
        border: 3px solid $red;
        border-radius: 5px;
        text-align: center;
        width: 42px;
        height: 42px;
        display: inherit;
        align-items: center;
        cursor: pointer;
        .fa-heart{
            color: $red;
            font-size: 27px;
        }
    }
    .text{
        cursor: pointer;
        font-size: 28px;
        color: $second-content-text;
        font-weight: 600;
    }
}
.description{
    max-width: 600px;
    color: $second-content-text;
    p{
        font-size: 28px;
    }
}
.more-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .info-details{
        color: $all-content-text;
        font-size: 18px;
    }
    label{
        color: $second-content-text;
        font-size: 20px;
    }
}