/* Input CSS */
$primary: #414646;
$secondary: #414646;
$black: rgb(5, 5, 5);
$gray: #A0AFA0;
.form__group {
  position: relative;
  padding: 7px 0 0 0;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
  }
  padding-bottom: 6px;  
  
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* End input CSS */

.search-structure{
    display: grid;
    grid-template-columns: 94% 6%;
    @media (min-width: 320px) and (max-width: 600px) {
      grid-template-columns: auto;
      grid-gap: 16px;
    }
    .fas{
        margin-right: 10px;
    }
}

.screen-name{
    align-self: center;
    text-align: end;
    color: $gray;
    font-size: 18px;
    cursor: pointer;
}