<div class="top-area">
    <div class="image-link">
        <img src='../../../../assets/img/logo-verde.png' width="100%">
        <div class="text-grid">
            <h2 class="text-movie" (click)='goToAllMovies()'>movies</h2>
        </div>
    </div>
</div>
<div class="profile-structure">
    <div class="content">
        <p class="content-text">
            It's time to create your profile<br> and customize your experience<br>in 
            <span>LinkApi Movies!</span>
        </p>
    </div>
    <div class="profile-form">
      <form [formGroup]="form" name='form'>
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Name" formControlName="name" name="name" id='name'/>
          <label for="name" class="form__label">Name</label>
        </div>
        <div class="form__group field">
          <input type="number" class="form__field" placeholder="Age" formControlName="age" name="age" id='age' required />
          <label for="age" class="form__label">Age</label>
        </div>
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Favorite movie" formControlName="movie" name="movie" id='movie' required />
          <label for="movie" class="form__label">Favorite movie</label>
        </div>
        <div class="form__group field">
          <select class="form__field" id="genre" name='genre' formControlName="genre" >
            <option *ngFor="let genre of genreList" [value]="genre.value" selected>{{genre.name}}</option>
          </select>
          <label for="genre" class="form__label">Favorite genre</label>
        </div>
        <div class="button-structure">
          <div class="buttons">
            <button type="button" class="btn btn-link btn-cancel">Cancel</button>
            <button type="button" class="btn btn-primary btn-save" (click)="saveButton()">Save profile</button>
          </div>
        </div>
        
      </form>
    </div>
</div>