<div class="top-area">
    <div class="image-link">
        <img src='../../../../assets/img/logo-verde.png' width="100%">
        <div class="text-grid">
            <h2 class="text-movie">movies</h2>
        </div>
    </div>
</div>
<div class="profile-structure">
    <div class="content">
        <p class="content-text">
            It's time to create your profile<br> and customize your experience<br>in 
            <span>LinkApi Movies!</span>
        </p>
    </div>
    <div class="profile-form">
        <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Example select</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect2">Example multiple select</label>
              <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <button type="button" class="btn btn-primary">Save</button>
          </form>
    </div>
</div>
