<div class="top-area">
    <div class="image-link">
        <img src='../../../../assets/img/logo-verde.png' width="100%">
        <div class="text-grid">
            <h2 class="text-movie" (click)='goToAllMovies()'>movies</h2>
        </div>
    </div>
</div>
<div class="profile-structure">
    <div class="content">
        <p class="content-text">
            It's time to create your profile<br> and customize your experience<br>in 
            <span>LinkApi Movies!</span>
        </p>
    </div>
    <div class="profile-form">
      <form>
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
          <label for="name" class="form__label">Name</label>
        </div>
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Age" name="age" id='age' required />
          <label for="age" class="form__label">Age</label>
        </div>
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Favorite movie" name="movie" id='movie' required />
          <label for="movie" class="form__label">Favorite movie</label>
        </div>
        <div class="form__group field">
          <select class="form__field" id="genre" name='genre' required>
            <option selected>Horror</option>
            <option value="1">Action</option>
            <option value="2">Drama</option>
            <option value="3">Romance</option>
          </select>
          <label for="genre" class="form__label">Favorite genre</label>
        </div>
        <div class="button-structure">
          <div class="buttons">
            <button type="button" class="btn btn-link btn-cancel">Cancel</button>
            <button type="button" class="btn btn-primary btn-save">Save profile</button>
          </div>
        </div>
        
      </form>
    </div>
</div>