.top-area{
    margin-bottom: 127px;
    @media (min-width: 320px) and (max-width: 660px) {
      margin-bottom: 50px;
    }
}
.text-movie{
    color: #55b25f;
    font-size: 28px;
    margin: 0;
    cursor: pointer;
    max-width: 73px;
}
.image-link{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 8px;
    @media (min-width: 320px) and (max-width: 660px) {
      grid-template-rows: 2fr 1fr;
      grid-template-columns: auto;
      grid-gap: 0;
      img{
        width: 80%;
        justify-self: center;
      }
    }
    .text-grid{
        align-self: center;
        @media (min-width: 320px) and (max-width: 660px) {
          justify-self: center;
        }
    }
}
.content{
    text-align: right;
    @media (min-width: 320px) and (max-width: 660px) {
      text-align: center;
    }
    .content-text{
        align-items: center;
        font-size: 28px;
        color: #637463;
        span{
            font-weight: bold;
        }
    }
}

.profile-structure{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 98px;
    @media (min-width: 320px) and (max-width: 660px) {
      grid-auto-flow: row;
      grid-gap: 0;
    }

}

.button-structure{
    text-align: end;
    margin-top: 67px;
    @media (min-width: 320px) and (max-width: 660px) {
      margin-top: 30px;
    }
    .buttons{
        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        grid-gap: 6px;
        @media (min-width: 320px) and (max-width: 660px) {
          grid-auto-flow: row;
          justify-content: inherit;
        }
        .btn-save{
            color: #FCFCFC;
            background-color: #3CC896;
            border: 1px solid #3CC896;
            width: 138px;
            @media (min-width: 320px) and (max-width: 660px) {
              width: 100%;
            }
        }
        .btn-cancel{
            color: #A0AFA0;
            font-size: 18px;
            width: 138px;
            @media (min-width: 320px) and (max-width: 660px) {
              width: 100%;
            }
        }
    }
}

/* Input CSS */
$primary: #414646;
$secondary: #414646;
$black: rgb(5, 5, 5);
$gray: #A0AFA0;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 276px;
  @media (min-width: 320px) and (max-width: 660px) {
    width: 100%;
  }
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
      
  }
  padding-bottom: 6px;  
  
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

/* End input CSS */